@import url('@fontsource-variable/inter');

.btn {
  --at-apply: text-page inline-flex items-center justify-center rounded-full
  border-gray-400 border bg-transparent font-medium text-center text-base leading-snug transition py-3.5 px-6
  md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2
  hover:bg-gray-100 hover:border-gray-600 dark:text-slate-300 dark:border-slate-500 dark:hover:bg-slate-800
  dark:hover:border-slate-800 cursor-pointer;
}

.btn-primary {
  --at-apply: font-semibold '!bg-primary' text-white border-primary '!hover:bg-secondary' hover:border-secondary
  hover:text-white dark:text-white '!dark:bg-primary' dark:border-primary dark:hover:border-secondary '!dark:hover:bg-secondary';
}

.btn-tertiary {
  --at-apply: text-muted border-none shadow-none hover:text-gray-900 dark:text-gray-400 dark:hover:text-white;
}

* {
  --at-apply: ease-in-out duration-150 transition-property-[opacity,background-color];
}

[readonly],
[disabled] {
  background-color: lightgray;
  user-select: none !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
}

:root {
  --aw-font-sans: 'InterVariable';
  --aw-font-serif: 'InterVariable';
  --aw-font-heading: 'InterVariable';
  --aw-color-bg-page-dark: 3 6 32;
  --aw-color-primary: 1 97 239;
  --aw-color-secondary: 1 84 207;
  --aw-color-accent: 109 40 217;
  --aw-color-text-heading: 0 0 0;
  --aw-color-text-default: 16 16 16;
  --aw-color-text-muted: 16 16 16 / 66%;
  --aw-color-bg-page: 255 255 255;

  ::selection {
    background-color: lavender;
  }
}

.dark {
  --aw-color-text-heading: 247 248 248;
  --aw-color-text-default: 229 236 246;
  --aw-color-text-muted: 229 236 246 / 66%;
  --aw-color-bg-page: var(--aw-color-bg-page-dark);

  ::selection {
    background-color: black;
    color: snow;
  }
}
