
<li><a href="{{ site.baseurl }}/index.html">Home</a></li>
<li class="is-dropdown-submenu-parent">
  <a href="{{ site.baseurl }}/track_structure/">Conference</a>
  <ul class="menu vertical nested">
    {% comment %}
    <li><a href="{{ site.baseurl }}/track_structure/">Track Structure</a></li>
    {% endcomment %}
    <li><a href="{{ site.baseurl }}/conference_chairs/">Conference Chairs</a></li>
    <li><a href="{{ site.baseurl }}/program_committee/">Program Committee</a></li>
    <li><a href="{{ site.baseurl }}/steering_committee/">Steering Committee</a></li>
  </ul>
</li>
<li class="is-dropdown-submenu-parent">
  <a href="{{ site.baseurl }}/call_for_research/" >Calls</a>
  <ul class="menu vertical nested">
    <li><a href="{{ site.baseurl }}/call_for_research/">Call for research papers</a></li>
  </ul>
</li>
{% comment %}
<li>
  <a href="{{ site.baseurl }}/workshops/">Workshops</a>
</li>
<li><a href="{{ site.baseurl }}/registration/">Registration</a></li>
{% endcomment %}


{% comment %}
<li class="is-dropdown-submenu-parent">
  <a href="/{{ site.baseurl }}program/">Program</a>
  <ul class="menu vertical nested">

  </ul>
</li>
{% endcomment %}

<li class="is-dropdown-submenu-parent">
  <a href="{{ site.baseurl }}/conference_venue/">Venue</a>
  <ul class="menu vertical nested">
    <li><a href="{{ site.baseurl }}/conference_venue/">Conference venue</a></li>
    <li><a href="{{ site.baseurl }}/how_to_get_there/">How to get there</a></li>
    <li><a href="{{ site.baseurl }}/where_to_stay/">Where to stay</a></li>
    <li><a href="{{ site.baseurl }}/visa_information/">Visa information</a></li>
    <li><a href="{{ site.baseurl }}/sevilla/">Sevilla</a></li>
    <li><a href="{{ site.baseurl }}/getting_around/">Getting around</a></li>
  </ul>
</li>

<li class="is-dropdown-submenu-parent">
  <a href="{{ site.baseurl }}/sponsors/">Sponsors</a>
  <ul class="menu vertical nested">
    <li><a href="{{ site.baseurl }}/sponsors/">Our sponsors</a></li>
    <li><a href="{% link _pages/sponsors-information.md %}">Become a sponsor</a></li>
  </ul>
</li>

{% comment %}
<li><a href="{{ site.baseurl }}/co-located-events/">Co-located events</a></li>
<li>
  <a href="{{ site.ticket_link }}" class="button hollow">
    Buy Tickets
  </a>
</li>
{% endcomment %}
