---
import Layout from '@/layouts/PageLayout.astro';
import HighlightBackground from '@/components/ui/HighlightBackground.astro';
import MeliaHeader from '@/assets/images/hero/melia-header.jpg';
import Melia1 from '@/assets/images/venue/melia.png';
import Melia2 from '@/assets/images/venue/melia-2.png';
import Melia3 from '@/assets/images/venue/melia-3.png';
import WidgetWrapper from '@/components/ui/WidgetWrapper.astro';
import Content from '@/components/widgets/Content.astro';

const alt = 'Hotel Meliá Sevilla';
---

<Layout
  metadata={{
    title: 'Conference Venue'
  }}
  heroProps={{
    tagline: alt
  }}
  heroImage={{
    src: MeliaHeader,
    alt: 'Terrace of Meliá Sevilla'
  }}>
  <Content
    title="Location"
    images={[
      {
        src: Melia1,
        alt: alt
      },
      {
        src: Melia2,
        alt: alt
      },
      {
        src: Melia3,
        alt: alt
      }
    ]}>
    <HighlightBackground slot="bg" />
    <Fragment slot="content">
      {/* <HeroText title="Location" /> */}
      {/* <div class="grid lg:grid-cols-2 md:grid-cols-1 gap-6 items-center"> */}
      <div>
        <p>
          In the heart of the city, this elegant hotel is situated next to some remarkable monuments of the city
          such as <a href="https://visitasevilla.es/plaza-de-espana/" target="_blank" class="text-underline">Plaza de España</a>,
          the <a href="https://www.alcazarsevilla.org/" target="_blank" class="text-underline">Royal Alcazar</a>,
          or the <a href="https://www.catedraldesevilla.es/" target="_blank" class="text-underline">Cathedral of Seville</a>.
        </p>
        <br />
        <p>
          The hotel is located at <b>Dr. Pedro de Castro, 1</b>, just a few minutes away from the city center.
        </p>
      </div>
      <iframe
        class="text-center border-0 h-96 w-full mt-3"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3170.4953389447387!2d-5.985765024384759!3d37.378116434910446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126c207841835b%3A0xe81ae59a539c7fd3!2sMeli%C3%A1%20Sevilla!5e0!3m2!1ses!2ses!4v1697213107887!5m2!1ses!2ses"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade" />
      {/* </div> */}
    </Fragment>
  </Content>

  <WidgetWrapper>

  </WidgetWrapper>
</Layout>
