---
import Layout from '@/layouts/PageLayout.astro';
import ReceptionImage from '@/assets/images/hero/reception.jpg';
import Content from '@/components/widgets/Content.astro';
import HighlightBackground from '@/components/ui/HighlightBackground.astro';

import Novotel from '@/assets/images/accomodation/novotel.jpg';
import Novotel2 from '@/assets/images/accomodation/novotel-2.jpg';
import Novotel3 from '@/assets/images/accomodation/novotel-3.jpg';
import Novotel4 from '@/assets/images/accomodation/novotel-4.jpg';
import Viapol from '@/assets/images/accomodation/viapol.webp';
import Viapol2 from '@/assets/images/accomodation/viapol-2.webp';
import Viapol3 from '@/assets/images/accomodation/viapol-3.webp';
import Viapol4 from '@/assets/images/accomodation/viapol-4.webp';
import Hesperia1 from '@/assets/images/accomodation/hesperia-1.jpg';
import Hesperia2 from '@/assets/images/accomodation/hesperia-2.jpg';
import Hesperia3 from '@/assets/images/accomodation/hesperia-3.jpg';

import ITablerChevronRight from 'virtual:icons/tabler/chevron-right';
import { getPermalink } from '@/utils/permalinks';
---

<Layout
  metadata={{
    title: 'Where to stay'
  }}
  heroImage={{
    src: ReceptionImage,
    alt: 'Receptionist attending a phone call'
  }}>
  <Content
    subtitle="There are many hotels around the venue in a varied range of prices. Here we list some of them:"
    isReversed
    classes={{ container: '!pb-0 !mb-0' }}
    images={[
      {
        src: Viapol4,
        alt: 'Breakfast at viapol hotel'
      }]}>
    <HighlightBackground slot="bg" />
  </Content>
  <Content
    classes={{ container: '!pt-0 !mt-0 !pb-0 !mb-0' }}
    images={[
      {
        src: Novotel,
        alt: 'Novotel reception'
      }]}>
    <HighlightBackground slot="bg" />
  </Content>
  <Content
    title="Hesperia Sevilla Hotel ★★★★"
    isReversed
    callToAction={{
      text: 'Book now',
      href: 'https://www.hesperia.com/es/hoteles/espana/sevilla/hotel-hesperia-sevilla?utm_source=GMBsevilla&utm_medium=organic',
      icon: ITablerChevronRight,
      variant: 'secondary'
    }}
    images={[
      {
        src: Hesperia1,
        alt: 'Hesperia Sevilla Hotel'
      },
      {
        src: Hesperia2,
        alt: 'Hesperia Sevilla Hotel'
      },
      {
        src: Hesperia3,
        alt: 'Hesperia Sevilla Hotel'
      }
    ]}>
    <Fragment slot="content">
      <p>
        The Hesperia Sevilla Hotel is 20 minutes away walking or less than 15 minutes away by Metro or bus (Tussam’s line 5) from the
        <a href={getPermalink('/venue')} class="underline">BPM2025 venue</a>.
      </p>
      <iframe class="border-0 h-96 w-full mt-3" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d6340.801808345873!2d-5.984433456229711!3d37.38035026375266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0xd126ea2f1bc2955%3A0x309b61069c4791a0!2sHotel%20Hesperia%20Sevilla%2C%20Avenida%20Eduardo%20Dato%2C%20Sevilla!3m2!1d37.3838037!2d-5.974969199999999!4m5!1s0xd126c207841835b%3A0xe81ae59a539c7fd3!2sMeli%C3%A1%20Sevilla%2C%20Calle%20Doctor%20Pedro%20de%20Castro%2C%20Sevilla!3m2!1d37.3781122!2d-5.9831901!5e0!3m2!1ses!2ses!4v1697211892451!5m2!1ses!2ses" allowfullscreen referrerpolicy="no-referrer-when-downgrade" />
    </Fragment>
  </Content>

  <Content
    title="Novotel Sevilla ★★★★"
    callToAction={{
      text: 'Book now',
      href: 'https://all.accor.com/hotel/3210/index.es.shtml',
      icon: ITablerChevronRight,
      variant: 'secondary'
    }}
    images={[
      {
        src: Novotel2,
        alt: 'Novotel Sevilla Hotel'
      },
      {
        src: Novotel3,
        alt: 'Novotel Sevilla Hotel'
      },
      {
        src: Novotel4,
        alt: 'Novotel Sevilla Hotel'
      }
    ]}>
    <Fragment slot="content">
      <p>
        Novotel Sevilla is 25 minutes away walking or less than 15 minutes away by Metro or bus (Tussam’s line 5) from the
        <a href={getPermalink('/venue')} class="underline">BPM2025 venue</a>.
      </p>
      <iframe class="border-0 h-96 w-full mt-3" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d6340.850273143824!2d-5.98299355622974!3d37.379777063818516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0xd126ebd838f662d%3A0x96ca9d939c947a67!2sNovotel%20Sevilla%2C%20Sevilla!3m2!1d37.38285!2d-5.9719342!4m5!1s0xd126c207841835b%3A0xe81ae59a539c7fd3!2sMeli%C3%A1%20Sevilla%2C%20Calle%20Doctor%20Pedro%20de%20Castro%2C%20Sevilla!3m2!1d37.3781122!2d-5.9831901!5e0!3m2!1ses!2ses!4v1697211839704!5m2!1ses!2ses" allowfullscreen referrerpolicy="no-referrer-when-downgrade" />
    </Fragment>
    <HighlightBackground slot="bg" />
  </Content>

  <Content
    title="Barceló Occidental Sevilla Viapol ★★★★"
    isReversed
    callToAction={{
      text: 'Book now',
      href: 'https://www.barcelo.com/es-es/occidental-sevilla-viapol/?utm_source=google&utm_medium=organic&utm_campaign=my_business&utm_content=30584l',
      icon: ITablerChevronRight,
      variant: 'secondary'
    }}
    images={[
      {
        src: Viapol,
        alt: 'Barceló Occidental Sevilla Viapol Hotel'
      },
      {
        src: Viapol2,
        alt: 'Barceló Occidental Sevilla Viapol Hotel'
      },
      {
        src: Viapol3,
        alt: 'Barceló Occidental Sevilla Viapol Hotel'
      }
    ]}>
    <Fragment slot="content">
      <p>
        Barceló Occidental Sevilla Viapol is 15 minutes away walking straightforward or 10 minutes away by <i>Metrocentro</i> (tram) from the
        <a href={getPermalink('/venue')} class="underline">BPM2025 venue</a>.
      </p>
      <iframe class="border-0 h-96 w-full mt-3" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d3170.4928109718317!2d-5.983466824384812!3d37.378176234907016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0xd126e9ed6fec221%3A0xe9502064b6b1a195!2sHotel%20Occidental%20Sevilla%20Viapol%2C%20C.%20Balbino%20Marr%C3%B3n%2C%209%2C%2041018%20Sevilla!3m2!1d37.378653!2d-5.978030599999999!4m5!1s0xd126c207841835b%3A0xe81ae59a539c7fd3!2sMeli%C3%A1%20Sevilla%2C%20Calle%20Doctor%20Pedro%20de%20Castro%2C%20Sevilla!3m2!1d37.3781122!2d-5.9831901!5e0!3m2!1ses!2ses!4v1697211789063!5m2!1ses!2ses" allowfullscreen referrerpolicy="no-referrer-when-downgrade" />
    </Fragment>
  </Content>
</Layout>
