---
import { twMerge } from 'tailwind-merge';
import type { CallToAction as Props } from '@/types';
import ButtonContents from '@/components/ui/Button/ButtonContents.astro';

const {
  variant = 'secondary',
  target,
  text,
  class: className = '',
  type,
  ...rest
} = Astro.props;

const variants = {
  primary: 'btn-primary',
  secondary: 'btn-secondary',
  tertiary: 'btn btn-tertiary',
  link: 'cursor-pointer hover:text-primary'
};
---

{
  type === 'button' || type === 'submit' || type === 'reset'
    ? (
        <button type={type} class={twMerge(variants[variant] || '', className)} {...rest}>
          <ButtonContents text={text}>
            <slot name="icon" slot="icon" />
          </ButtonContents>
        </button>
      )
    : (
        <a
          class={twMerge(variants[variant] || '', className)}
          {...(target ? { target: target, rel: 'noopener noreferrer' } : {})}
          {...rest}
        >
          <ButtonContents text={text}>
            <slot name="icon" slot="icon" />
          </ButtonContents>
        </a>
      )
}
