---
import Layout from '@/layouts/PageLayout.astro';
import { Image } from 'astro:assets';

import Header from '@/components/widgets/Header.astro';
import Hero from '@/components/widgets/Hero.astro';
import Content from '@/components/widgets/Content.astro';
import CallToAction from '@/components/widgets/CallToAction.astro';
import Steps from '@/components/widgets/Steps.astro';
import Headline from '@/components/ui/Headline.astro';
import { getPermalink } from '@/utils/permalinks';

import IHugeIconsTeacher from 'virtual:icons/hugeicons/teacher';
import IMaterialSymbolsResearch from 'virtual:icons/material-symbols-light/lab-research';
import IMaterialSymbolsForum from 'virtual:icons/material-symbols/forum';

import HeroImage from '@/assets/images/hero-image.jpg';
import SevilleCathedral from '@/assets/images/cathedral.jpg';
import CEURLogo from '@/assets/images/sponsors/CEUR-WS-logo.png';
import SCORELogo from '@/assets/images/sponsors/score.png';
import SpringerLogo from '@/assets/images/sponsors/springer.jpg';
import USLogo from '@/assets/images/sponsors/us.png';
import Brands from '@/components/widgets/Brands.astro';

const metadata = {
  title: 'Home'
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      actions={[
        {
          text: 'Register',
          href: '/register',
          variant: 'primary'
        }
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  {/* Hero */}

  <Hero
    id="hero"
    title="23rd Int. Conference on Business Process Management (BPM 2025)"
    tagline="31st Aug - 5th Sep 2025 | Seville, Spain"
    actions={[{ variant: 'primary', text: 'Register', href: getPermalink('/register') }]}
  >
    <Image slot="bg" src={HeroImage} alt="Plaza España in Seville" />
    <Fragment slot="subtitle">
      BPM 2025 is the 23rd conference in a series that provides the most prestigious forum
      for researchers and practitioners in the field of Business Process Management.
    </Fragment>
  </Hero>

  {/* Calendar */}

  <Content
    id="calendar"
    title="Calendar"
    image={{
      src: SevilleCathedral,
      alt: 'Seville cathedral'
    }}
    classes={{ container: '!pb-0' }}>
    <Fragment slot="content">
      <p>
        BPM 2025 will be held in Seville, Spain, from August, 31 to September, 5
        and will host hundreds of attendees from all over the world
      </p>
      <Steps
        id="dates"
        classes={{ container: '!pt-0 !pb-0' }}
        items={[
          {
            title:
          'Workshops <br class="hidden" /> <span class="font-normal hidden"></span> <br /> <span class="text-sm font-normal">1st of September</span>',
            description: '[TO BE REDACTED]',
            icon: IHugeIconsTeacher
          },
          {
            title:
          'Research tracks <br class="hidden" /> <span class="font-normal hidden"></span> <br /> <span class="text-sm font-normal">2nd - 4th of September</span>',
            description: '[TO BE REDACTED]',
            icon: IMaterialSymbolsResearch
          },
          {
            title:
          'Forums, tutorials and demos <br class="hidden" /> <span class="font-normal hidden"></span> <br /> <span class="text-sm font-normal">2nd - 5th of September</span>',
            description: '[TO BE REDACTED]',
            icon: IMaterialSymbolsForum
          }
        ]}
      />
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  {/* Sponsors */}

  <Headline
    classes={{ container: 'py-6' }}
    title="Organization & Sponsors"
    subtitle="These organizations make the BPM conference possible" />
  <Brands
    subtitle="Academic"
    images={[
      {
        src: CEURLogo,
        alt: 'CEUR-WS logo'
      },
      {
        src: SCORELogo,
        alt: 'SCORE logo'
      },
      {
        src: SpringerLogo,
        alt: 'Springer logo'
      },
      {
        src: USLogo,
        alt: 'University of Seville logo'
      }
    ]}
  />

  <CallToAction
    title="Let's get together"
    subtitle="Ready to transform your business processes?"
    actions={[
      {
        variant: 'primary',
        text: 'Register',
        href: '/register'
      }
    ]}
  />
</Layout>
