---
import Layout from '@/layouts/PageLayout.astro';
import Content from '@/components/widgets/Content.astro';
import CallToAction from '@/components/widgets/CallToAction.astro';
import Steps from '@/components/widgets/Steps.astro';
import Headline from '@/components/ui/Headline.astro';

import IHugeIconsTeacher from 'virtual:icons/hugeicons/teacher';
import IMaterialSymbolsResearch from 'virtual:icons/material-symbols-light/lab-research';
import IMaterialSymbolsForum from 'virtual:icons/material-symbols/forum';

import SevilleCathedral from '@/assets/images/hero/cathedral.jpg';
import Sponsors from '@/components/ui/Sponsors.astro';
import { getPermalink } from '@/utils/permalinks';
---

<Layout
  metadata={{
    title: 'Home'
  }}
  heroProps={{
    title: '23rd Int. Conference on Business Process Management (BPM 2025)',
    tagline: '31st Aug - 5th Sep 2025 | Seville, Spain',
    actions: [{ variant: 'primary', text: 'Register', href: getPermalink('/register') }]
  }}>
  <Fragment slot="hero-subtitle">
    BPM 2025 is the 23rd conference in a series that provides the most prestigious forum
    for researchers and practitioners in the field of Business Process Management.
  </Fragment>

  {/* Calendar */}

  <Content
    id="calendar"
    title="Calendar"
    image={{
      src: SevilleCathedral,
      alt: 'Seville cathedral'
    }}
    classes={{ container: '!pb-0' }}>
    <Fragment slot="content">
      <p>
        BPM 2025 will be held in <b>Seville, Spain</b>, from August, 31 to September, 5
        and will host hundreds of attendees from all over the world
      </p>
      <Steps
        id="dates"
        classes={{ container: '!pt-2 !pb-0' }}
        items={[
          {
            title:
          'Workshops <br class="hidden" /> <span class="font-normal hidden"></span> <br /> <span class="text-sm font-normal">1st of September</span>',
            description: '[TO BE REDACTED]',
            icon: IHugeIconsTeacher
          },
          {
            title:
          'Research tracks <br class="hidden" /> <span class="font-normal hidden"></span> <br /> <span class="text-sm font-normal">2nd - 4th of September</span>',
            description: '[TO BE REDACTED]',
            icon: IMaterialSymbolsResearch
          },
          {
            title:
          'Forums, tutorials and demos <br class="hidden" /> <span class="font-normal hidden"></span> <br /> <span class="text-sm font-normal">2nd - 5th of September</span>',
            description: '[TO BE REDACTED]',
            icon: IMaterialSymbolsForum
          }
        ]}
      />
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
    <Fragment slot="image-description">
      Cathedral of Seville
    </Fragment>
  </Content>

  {/* Sponsors */}

  <div>
    <Headline
      classes={{ container: 'pt-6 !mb-0' }}
      title="Organization & Sponsors"
      subtitle="These organizations make the BPM conference possible" />
    <Sponsors />
    <CallToAction
      classes={{ container: '!pt-0' }}
      title="You?"
      actions={[
        {
          variant: 'primary',
          text: 'Become a sponsor!',
          href: getPermalink('/sponsors/become-a-sponsor')
        }
      ]}
    />
  </div>

  <CallToAction
    title="Let's get together!"
    subtitle="Join us in Seville for BPM 2025 and transform the way you think about <br /> Business Process Management"
    boxed={false}
    actions={[
      {
        variant: 'primary',
        text: 'Register now',
        href: getPermalink('/register')
      }
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </CallToAction>
</Layout>
