---
layout: base
---

<header class="header">
  <div class="row">
    {% comment %}

    <figure class="hero-picture">
      <picture>
        <source type="image/jpg" srcset="static/image/torre_de_oro.jpg">
        <img
          src="/static/image/torre_de_oro.jpg"
          alt="Torre de oro"
          width="352"
          height="312"
          loading="lazy"
          decoding="async"
        >
      </picture>
      <figcaption><a href="https://visitasevilla.es/torre-del-oro/" target="_blank">Torre del Oro</a></figcaption>
    </figure>
    {% endcomment %}



    <figure class="hero-picture hero-picture--odd">
      <picture>
        <source type="image/jpg" srcset="static/image/Catedral.jpg">
        <img
          src="/static/image/Catedral.jpg"
          alt="View of the Cathedral of Seville"
          width="352"
          height="312"
          loading="lazy"
          decoding="async"
        >
      </picture>
      <figcaption><a href="https://www.catedraldesevilla.es/" target="_blank">Cathedral of Seville</a></figcaption>
    </figure>

    <figure class="hero-picture ">
      <picture>
        <source type="image/png" srcset="static/image/logo.png">
        <img
          src="/static/image/logo.png"
          alt="Logo BPM 2025"
          width="300"
          height="300"
          loading="lazy"
          decoding="async"
        >
      </picture>
      <figcaption><a href="#">BPM 2025</a></figcaption>
    </figure>


    <div class="header-text">
      <h1>23rd Int. Conference on Business Process Management <br/> (BPM 2025) </h1>

      <div class="event-info-detail">
        <p>
          <strong>31st Aug - 5th Sep 2025</strong>
        </p>

        <p>
          <strong>Seville, Spain</strong>
        </p>
      </div>
      {% comment %}
      <div>
        <img style="width: 200px; margin-left: 8rem; margin-bottom: 1rem;" src="{{ site.baseurl }}/static/image/logo.png" alt="Descripción de la imagen">
      </div>
      <a  style="margin-left: 8rem;" class="button button--bright button--tickets" href="{{ site.baseurl }}/registration/">Get Registered!</a>
      {% endcomment %}
    </div>
  </div>
</header>


<div class="content">

<section class="section-pad theme-brand-color3">
  <p class="lead column large-9 large-centered text-center">BPM 2025 is the 23rd conference in a series that provides the most prestigious forum for researchers and practitioners in the field of Business Process Management.</p>
  {% include schedule-date-cards.html %}
</section>

{% comment %}
<div class="photo-hero-inline tint-brand-color1">
  <img
    src="/static/img/attendees.jpg"
    alt="Attendees holding a sign for DjangoCon 2019"
     />
</div>
{% endcomment %}

<section class="section-pad theme-medium-gray">
  {% comment %}
  <div class="row column v-pad-bottom text-center">
    <h2>23rd Int. Conference on Business Process Management (BPM 2025)</h2>
  </div>
  {% endcomment %}

  <div class="row">
    <div class="column">
      <div class="lead">
        <p>We are delighted to invite you to the 23rd edition of the International Conference on Business Process Management (BPM 2025), taking place in the beautiful and historic city of Seville from August 31 to September 5, 2025.</p>
        <p>Five years ago, we had the pleasure of hosting a previous edition of this conference, although the event was moved online due to the global pandemic. Now, we are thrilled to welcome you back in person to Seville, a city renowned for its rich cultural heritage, vibrant atmosphere, and stunning architecture. From the iconic Plaza de España to the charming streets of the old town, Seville offers a perfect backdrop for what promises to be an inspiring and enriching event.</p>
        <p>BPM 2025 continues the tradition of providing the the premier forum for researchers and practitioners in Business Process Management. For over two decades, the BPM conference series has been a driving force in advancing cutting-edge research and practical insights. This prestigious forum brings together leading thinkers, pioneering researchers, and industry leaders for a week of insightful talks, hands-on tutorials, and forward-thinking discussions. The BPM conference series celebrates the diversity and depth of the BPM field, acting as a hub for experts from various disciplines, including Computer Science, Information Systems Engineering, and Management.</p>
        <p>We look forward to welcoming you to Seville for an unforgettable experience of knowledge exchange, networking, and cultural exploration.</p>
        <p>Adela del Río Ortega, Manuel Resinas<br/>(BPM 2025 General Chairs)</p>
      </div>
    </div>
  </div>
</section>

<section class="section-pad theme-light-gray">
  <div class="row column v-pad-bottom text-center">
    <h2>Organization</h2>
  </div>
  <div class="row">
    <div class="column">
      <div class="lead">
        <p>BPM 2025 will be organized by the <a href="https://score.us.es">SCORE lab</a> and the <a href="https://www.isa.us.es">ISA group</a> of the <a href="https://www.us.es">Universidad de Sevilla</a>.</p>
      </div>
    </div>
  </div>
</section>


{% include sponsor-footer.html %}

{% comment %}
<div class="photo-hero-inline curve-top tint-brand-color1">
  <img
    src="/static/img/courtyard-crowd.jpg"
    alt="The crowd of DjangoCon 2019 attendees"
    loading="lazy"
     />
</div>
{% endcomment %}

</div><!-- end .content -->
