---
import Layout from '@/layouts/PageLayout.astro';
import HeroText from '@/components/widgets/HeroText.astro';
import Contact from '@/components/widgets/Contact.astro';

const metadata = {
  title: 'Register'
};
---

<Layout metadata={metadata}>
  <span slot="announcement"></span>
  <span slot="hero"></span>
  <HeroText tagline="Register" title="Register as an attendee" />
  <Contact
    id="form"
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name'
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email'
      }
    ]}
    textarea={{
      label: 'Message'
    }}
    disclaimers={[
      {
        id: 'letter',
        name: 'letter',
        label: 'I need an invitation letter for visa'
      },
      {
        id: 'terms',
        name: 'terms',
        label: 'By submitting this form, you acknowledge and agree to the collection of your personal information.'
      }
    ]}
    description="You will receive a confirmation email shortly after checkout"
  />
</Layout>
