---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/widgets/Header.astro';
import Footer from '@/components/widgets/Footer.astro';
import Hero from '@/components/widgets/Hero.astro';
// import Announcement from '@/components/widgets/Announcement.astro';
import { headerData, footerData } from '@/data/navigation';
import type { MetaData, Hero as HeroProps } from '@/types';
import type { ImageMetadata } from 'astro';

import { Image } from 'astro:assets';
import SevilleHeroImage from '@/assets/images/hero/plaza-espana.jpg';

export interface Props {
  metadata?: MetaData;
  heroProps?: HeroProps;
  heroImage?: {
    src: ImageMetadata;
    alt: string;
  };
}

const { metadata, heroProps = {}, heroImage } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="announcement">
    {/* <Announcement /> */}
  </slot>
  <slot name="header">
    <Header {...headerData} isSticky showToggleTheme />
  </slot>
  <slot name="hero">
    <Hero
      id="hero"
      title={metadata?.title}
      {...heroProps}
    >
      <slot name="hero-subtitle" slot="subtitle" />
      <slot name="hero-content" slot="content" />
      <slot name="bg" slot="bg">
        <Image
          src={heroImage?.src ?? SevilleHeroImage}
          alt={heroImage?.alt ?? 'Plaza España in Seville'}
          loading="eager"
          decoding="sync" />
      </slot>
    </Hero>
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
