---
import Brands from '@/components/widgets/Brands.astro';
import { sponsors } from '@/data/sponsors';
interface Props {
  showEmpty?: boolean;
}
const { showEmpty = false } = Astro.props;
---
<table class="w-full">
  <tbody>
    {sponsors.map((s) => {
      const innerText = (
        <td class="p-10">
          <b class="text-muted">
            {s.category}:
          </b>
        </td>
      );

      const innerBrands = s.brands.length
        ? (
            <td>
              <Brands images={s.brands} />
            </td>
          )
        : (
            <td>
              <p class="text-center">There are no sponsors in this category yet</p>
            </td>
          );

      if (!s.brands.length && !showEmpty) {
        return (<></>);
      } else {
        return (
          <tr>
            {innerText}
            {innerBrands}
          </tr>
        );
      }
    })}
  </tbody>
</table>
